<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSQL Project</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <div class="flex flex-col p-4 w-1/4 rounded shadow  items-center">
            <div class="flex justify-between">
                <div class="flex flex-row w-full justify-around mb-3">
                    <div class="w-1/2">
                        <select class="block text-black-600 text-xs font-bold w-8/12" id="city" name="city">
                            <option class="block text-stone-600 text-xs font-bold w-1/3" value="ParisFR" selected>Paris - France</option>
                            {% for city in cities %}
                                {% if city["_id"] != "ParisFR" %}
                                    <option class="block text-stone-600 text-xs font-bold w-1/3" value="{{ city['_id'] }}">{{ city["_id"][:-2] }} - {{ city["country"] }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <span class="block text-black-600 text-sm font-bold mb-1" id="month">Today, Aug 30</span>
                </div>
            </div>
            <div class="flex flex-row mb-1">
                <span class="block text-black-600 text-sm font-bold mb-1 mr-5" id="day">Tuesday,</span>
                <span class="block text-black-600 text-sm font-bold mb-1" id="time">11:47</span>
            </div>
            <div class="flex flex-col items-center mb-2">
                <img  id= "conditionImg" src="//cdn.weatherapi.com/weather/64x64/night/143.png" alt="weather">
                <span class="block text-xs font-bold mb-2 " id = "condition">Sunny</span>
            </div>
            <div class="flex flex-col items-center mb-3">
                <div class="flex flex-row mb-4">
                    <span class="block text-black text-8xl" id="temp_c">+26</span>
                    <p class="block text-black text-5xl" id = "temp_color"><sup>°C</sup></p>
                </div>
                <div class="flex flex-row mb-4">
                    <span class="block text-black-600 text-xs mb-1 mr-1">Feels like</span>
                    <span class="block text-black-600 text-xs mb-1" id = "feelslike_c">+29</span>
                </div>
            </div>
            <div class="w-5/6">
                <div class="flex flex-row justify-between mb-4 w-full">
                    <span class="block text-black-600 text-sm mb-1 mr-5">Precipitations</span>
                    <div class = "flex flex-row justify-between w-5/12">
                        <i class="fa-solid fa-droplet" id = "iprecip" style="color: #74C0FC;"></i> 
                        <span class="block text-black-600 text-sm mb-1" id = "precip_mm">5%</span>
                    </div>
                </div>
                <div class="flex flex-row justify-between mb-4 w-full">
                    <span class="block text-black-600 text-sm mb-1 mr-5">Wind Speed</span>
                    <div class = "flex flex-row justify-between w-5/12">
                        <i class="fa-solid fa-circle text-xs" id = "iws" style="color: #4cb804;"></i> 
                        <span class="block text-black-600 text-sm mb-1" id = "wind_kph">24.1 km/h</span>
                    </div>
                </div>
                <div class="flex flex-row justify-between mb-4 w-full">
                    <span class="block text-black-600 text-sm mb-1 mr-5">Humidity</span>
                    <div class = "flex flex-row justify-between w-5/12">
                        <i class="fa-solid fa-circle text-xs" id = "ih" style="color: #ff9204;"></i>
                        <span class="block text-black-600 text-sm mb-1" id = "humidity">63%</span>
                    </div>
                </div>
                <div class="flex flex-row justify-between mb-4 w-full">
                    <span class="block text-black-600 text-sm mb-1 mr-5">Visibility</span>
                    <div class = "flex flex-row justify-between w-5/12">
                        <i class="fa-solid fa-circle text-xs" id = "ivk" style="color: #accc0c;"></i> 
                        <span class="block text-black-600 text-sm mb-1" id = "vis_km">10 km</span>
                    </div>
                </div>
                <div class="flex flex-row justify-between mb-4 w-full">
                    <span class="block text-black-600 text-sm mb-1 mr-5">Pressure</span>
                    <div class = "flex flex-row justify-between w-5/12">
                        <i class="fa-solid fa-circle text-xs" id = "ipm" style="color: #d11515;"></i>
                        <span class="block text-black-600 text-sm mb-1" id = "pressure_mb">1016 mb</span>
                    </div>
                </div>
                <div class="flex flex-row justify-between mb-4 w-full">
                    <span class="block text-black-600 text-sm mb-1 mr-5">UV Index</span>
                    <div class = "flex flex-row justify-between w-5/12">
                        <i class="fa-solid fa-circle text-xs" id = "iuv" style="color: #4cb804;"></i> 
                        <span class="block text-black-600 text-sm mb-1" id = "uv">-</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        import { fetchLatestWeather } from "{{ url_for('static', filename='js/fetchData.js') }}";
        import { replaceDashBoardValues } from "{{ url_for('static', filename='js/fillDashBoardValues.js') }}";

        document.getElementById('city').addEventListener('change', function() {
            getDashBoardData(this.value)
        });

        async function getDashBoardData(city){
            let results = await fetchLatestWeather(city);
            // console.log(results);
            replaceDashBoardValues(results);
        }
        
        getDashBoardData("ParisFR")

    </script>
</body>
</html>
</html>