<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSQL Project</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="container mx-auto">
    <h1>Weather App</h1>

    <div>
        <label for="city">City:</label>
        <select id="city" name="city">
            <option value="ParisFR" selected>Paris - France</option>
            {% for city in cities %}
                {% if city["_id"] != "ParisFR" %}
                    <option value="{{ city['_id'] }}">{{ city["_id"][:-2] }} - {{ city["country"] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div>
        <canvas id="dailyTempChart"></canvas>
    </div>

    <script>
        const daily_temp_chart = document.getElementById('dailyTempChart').getContext('2d');
        const daily_chart = document.getElementById('dailyChart').getContext('2d');
    </script>

    <script type="module">
        import { createChart } from "{{ url_for('static', filename='js/chartGen.js') }}";
        import { fetchDailyHistory } from "{{ url_for('static', filename='js/fetchData.js') }}";

        showChart("ParisFR")

        // Event listener for when the selected city changes
        document.getElementById('city').addEventListener('change', function() {
            showChart(this.value, daily_temp_chart)
        });

        async function showChart(city, chart){
            const date = (new Date()).toISOString().split('T')[0];; //To this format : 2024-02-16
            let [ labels, results ] = await fetchDailyHistory(city, 'temp_c', 'temperatures', date);
            createChart(daily_temp_chart, 'line', labels, 'Temperature (°C)', results, 'rgb(75, 192, 192)', 0.1, false);
        }
    </script>
</body>
</html>