<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSQL Project</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

</head>

<body class="bg-gray-100 h-screen">

    <div class="flex space-x-4">

        <div class="w-1/2 bg-gray-200 p-4">
            <h1 class="text-2xl font-bold mb-4">Weather App</h1>

            <div class="mb-4">
                <label for="city">City:</label>
                <select id="city" name="city">
                    <option value="ParisFR" selected>Paris - France</option>
                    {% for city in cities %}
                        {% if city["_id"] != "ParisFR" %}
                            <option value="{{ city['_id'] }}">{{ city["_id"][:-2] }} - {{ city["country"] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="flex justify-around w-full">
            <div class = "bg-white p-4">UV Index
            <div class="flex justify-center">
                <canvas id="dailyUVCanvas" class="bg-white p-4"></canvas>
            </div>
            </div>

            <div class = "bg-white p-4">Temperatures (°C)
            <div class="flex justify-center">
                <canvas id="dailyTempCanvas" class="bg-white p-4"></canvas>
            </div>
            </div>

            <div class = "bg-white p-4">Humidity (%)
            <div class="flex justify-center">
                <canvas id="dailyHumidityCanvas" class="bg-white p-4"></canvas>
            </div>
            </div>
    </div>

</body>
    <script type="module">
        import { createChart } from "{{ url_for('static', filename='js/chartGen.js') }}";
        import { createHistogram } from "{{ url_for('static', filename='js/chartGen.js') }}";
        import { createScatterPlot } from "{{ url_for('static', filename='js/chartGen.js') }}";
        import { fetchDailyHistory } from "{{ url_for('static', filename='js/fetchData.js') }}";
        import { fetchLastandNextData } from "{{ url_for('static', filename='js/fetchData.js') }}";

        const daily_uv = document.getElementById('dailyUVCanvas').getContext('2d');
        const daily_temp = document.getElementById('dailyTempCanvas').getContext('2d');
        const daily_humidity = document.getElementById('dailyHumidityCanvas').getContext('2d');

        // Event listener for when the selected city changes
        document.getElementById('city').addEventListener('change', function() {
            showHist(this.value, daily_uv)
            showChart(this.value, daily_temp)
            showScatt(this.value, daily_humidity)
        });

        async function showChart(city, chart){
            const date = (new Date()).toISOString().split('T')[0];; //To this format : 2024-02-16
            let [ labels, results ] = await fetchLastandNextData(city, 'temp_c', 'temperatures', date);
            labels = labels.map(time => time.split(':')[0]);
            createChart(chart, labels, results);
        }

        async function showHist(city, chart){
            const date = (new Date()).toISOString().split('T')[0];; //To this format : 2024-02-16
            let [ labels, results ] = await fetchDailyHistory(city, 'uv', 'basics', date);
            labels = labels.map(time => time.split(':')[0]);
            createHistogram(chart, labels, results);
        }

        async function showScatt(city, chart){
            const date = (new Date()).toISOString().split('T')[0];
            let [ labels, results ] = await fetchLastandNextData(city, 'humidity', 'precipitations', date);

            // // Convertir les chaînes en nombres
            labels = labels.map(label => label.replace(/^(\d+)$/, '$1:00:00'));
            results = results.map(result => parseInt(result, 10));

            // Créer un tableau d'objets avec des propriétés x et y
            labels = labels.map(time => time.split(':')[0]);
            const dataPoints = labels.map((label, index) => ({ x: label, y: results[index] }));

            console.log(dataPoints, labels);

            createScatterPlot(chart, labels, dataPoints, 'https://cdn.iconscout.com/icon/free/png-256/free-droplet-drop-water-save-33879.png');
        }

        showHist("ParisFR", daily_uv)
        showChart("ParisFR", daily_temp)
        showScatt("ParisFR", daily_humidity)
        
    </script>
</body>
</html>